
 #-----------------------------------------------------------------------------------
CLIENT_SECRET="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"
CLIENT_ID="u-s4t2ud-fcbe44334ede5a9192e0a95fe7322e3444763a87293b5ece6ca8d1ed5b0893f0"
CALLBACK_URL="http://localhost:8000/auth/sync"
AUTHORIZATION_URL="https://api.intra.42.fr/oauth/authorize"
TOKEN_URL="https://api.intra.42.fr/oauth/token"
USER_INFO_URL="https://api.intra.42.fr/v2/me"

JWT_SECRET="your-256-bit-secret"
JWT_2FA_SECRET="your-256-bit-secret-supper-secret"

JWT_REFRESH_SECRET="asdfljldskfjsdlakfajlsdkfjldskjglasdsadkfhaksdjfhdsaf"

#show change to prisma/.env
db_url="postgres://admin:supersecurepassword@localhost:5432/postgres-db"

